body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Preto */
    color: #333333; /* Preto Suave */
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #FFF2A6; /* Amarelo Pastel */
    color: #000000; /* Preto */
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    color:#000000; /* Preto */
    margin: 0;
    font-size: 2.5rem;
}

.content {
    padding: 2rem;
}

.highlight {
    color: #FF6347; /* Vermelho Tomate */
}

.blue-background {
    background-color: #ADD8E6; /* Azul Pastel */
    padding: 1rem;
    color: #FFFFFF; /* Branco */
    margin-bottom: 1rem;
}

footer {
    background-color: #333333; /* Preto Suave */
    color: #FFFFFF; /* Branco */
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
table {
    width: 100%;
    border-collapse: collapse; /* Colapso das bordas da tabela */
    margin-top: 20px;
}
td {
    text-align: center;
    padding: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f04c2f; /* Vermelho */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #910707; /* Vermelho mais escuro ao passar o mouse */
}