body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333333;
    margin: 0;
    padding: 0;
}
.caixa {
    max-width: 600px;
    margin: 20px auto;
    background-color: #FFF2A6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}
.info_contato {
    margin-top: 20px;
}
.info_contato p {
    margin-bottom: 10px;
}
.redes_sociais {
    margin-top: 20px;
}
.redes_sociais a {
    display: inline-block;
    margin-right: 10px;
    color: #FF6347;
    text-decoration: none;
    font-size: 20px;
}
.redes_sociais a:hover {
    color: #910707;
}